GARMIN_EMAIL=tu_email@ejemplo.com
GARMIN_PASSWORD=tu_contraseña

STRAVA_CLIENT_ID=tu_client_id
STRAVA_CLIENT_SECRET=tu_client_secret
STRAVA_REFRESH_TOKEN=tu_refresh_token

OWNER_USERNAME=owner_username
OWNER_PASSWORD=owner_password
SERVER_URL=server_url
